
@font-face {
    font-family: "Minion Pro";
    font-weight: 400;
    font-style: normal;
    src: url("MinionPro-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Avenir";
    font-weight: 400;
    font-style: normal;
    src: url("Avenir-Roman-12.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Avenir Black";
    font-weight: 600;
    font-style: normal;
    src: url("Avenir-Black-03.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Avenir Heavy";
    font-weight: 800;
    font-style: normal;
    src: url("Avenir-Heavy-05.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Avenir Light";
    font-weight: 300;
    font-style: normal;
    src: url("Avenir-Light-07.ttf") format("truetype");
    font-display: swap;
}