.faqList {
    text-align: center;
}

.faqItemAnswer.answerClosed {
    -webkit-animation: hideFaqAnswer .5s ease-in-out;
            animation: hideFaqAnswer .5s ease-in-out;
}

.faqItemAnswer.displayNone {
    display: none;
}

.faqItemAnswer {
    display: block;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    margin-left: 2rem;
    -webkit-animation: showFaqAnswer .5s ease-in-out;
            animation: showFaqAnswer .5s ease-in-out;
    opacity: 1;
    width: 330px;
    text-align: left;
    position: absolute;
}

.faqItem {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: .8em;
    margin-bottom: 1.5rem;
    position: relative;
}

.faqPlus {
    font-size: 1.5em;
    margin-right: 1rem;
}

@-webkit-keyframes showFaqAnswer {
    0% {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@keyframes showFaqAnswer {
    0% {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@-webkit-keyframes hideFaqAnswer {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }
}

@keyframes hideFaqAnswer {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }
}