.siteFooterContainer {
    background: $orange;
    text-align: center;
    color: $white;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
    padding: 3rem 0;

    * {
        margin: 1.3rem 0;
        font-family: $font;
        font-weight: bold;
        font-size: .95em;
    }
}

.footerLogo {
    width: 15rem;
}

.footerNavItem + .footerNavItem:before {
    margin: 0 1rem;
    content: " / ";
}

.footerNavItem {
    text-transform: uppercase;
    font-size: 1.1em;
}

.socialIcon {
    width: 35px;
    margin: 0 1rem;
}

.emailInput {
    width: 250px;
    text-align: center;
    color: $orange;
    outline: 0;
    border: 1px solid $white;
    padding: .3rem 0;

    &::-webkit-input-placeholder {
        // 508 compliant? 
        color: $orange;
    }

    &::-moz-placeholder {
        // 508 compliant? 
        color: $orange;
    }

    &:-ms-input-placeholder {
        // 508 compliant? 
        color: $orange;
    }

    &::-ms-input-placeholder {
        // 508 compliant? 
        color: $orange;
    }

    &::placeholder {
        // 508 compliant? 
        color: $orange;
    }

    &:active {
        outline: 0;
    }
}

.emailSignupButton {
    border: 1px solid $white;
    color: $white;
    background: $orange;
    padding: .3rem .5rem;
    text-transform: uppercase;
}
