.latestNewsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;

    .textSectionTitle {
        color: $orange;
    }
}


.fullWidthHR {
    background: $orange;
    width: 80%;
}

.latestNewsImgTextContainer {
    display: -webkit-box;
    display: flex;
    flex-flow: wrap;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    border-top: 2px solid $orange;
    padding: 2rem 0;
    margin: 2rem 0;
    width: 90%;  

    @media (max-width: 350px) {
        width: 100%;
    }
}

.latestNewsImg {
    // width: 500px;
    height: 222px;
    margin-right: 1rem;

    @media (max-width: 780px) {
        width: 85vw;
    }
}

.latestNewsImgContainer, .latestNewsTextContainer {
    flex-basis: 47%;

    @media (max-width: 350px) {
        margin: 0;
    }
}

.latestNewsTextContainer {
    color: $dark-grey;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: justify;
            justify-content: space-between;
    height: 222px;
    padding: 1rem .3rem
}

.latestNewsTitle {
    font-size: .9em;
    text-transform: uppercase;
    font-family: $font;
    font-weight: bold;
    letter-spacing: 1px;
}

.latestNewsText {
    font-family: $font;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: .95em;
    line-height: 2;
}

.latestNewsBlogDate {
    font-weight: normal;
}

.blogListContainer {

    .latestNewsImgTextContainer {
        border: 0;
        margin: 3.5rem 0;
        padding: 1.5rem 1rem;

        // @media (max-width: 1024px) {
        //     justify-content: center;
        // }

        // @media (max-width: 375px) {
        //     padding: 1.5rem .1rem;
        // }

        // .latestNewsTextContainer {

        //     @media (max-width: 1024px) {
        //         flex-basis: 70%;
        //     }
        // }
    }
}

.blogPage.whiteHexBg {
    background-repeat: repeat;
    background-size: contain;
}

@media (min-width: 2560px) {
    .latestNewsImgTextContainer {
        width: 65%;
        max-width: 1200px;
    }
}

@media (max-width: 768px) {
    .latestNewsImgTextContainer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
    }
}