.pageHeaderContainer {
    height: 30rem;
    max-height: 480px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
}

.slider {
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: row;
  }
  
.sliderWrapper {
    display: flex;
    align-items: center;
    flex-flow: row;
    position: relative;
}

.headerLogoContainer { 
    position: absolute;
    left: -50%;
    right: -50%;
}
  
.yooneekOutline {
    width: 100rem;
    margin: 0 auto; 

    // animate logo
    path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: animateOutline 3s linear forwards;
    }
}

.pageTitle {
    color: $white;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
}



@keyframes animateOutline {
    to {
        stroke-dashoffset: 0;
    }
}

@media (max-width: 660px) {
    .pageHeaderContainer {
        height: 25rem;
    }
}

@media (max-width: 380px) {
    #aboutSecondHeader {
        height: 28rem;
    }
}

.dotsContainer {
    align-items: center;
    justify-content: center;

    .circle {
        border-radius: 100%;
        padding: 1rem;
        border: 2px solid $orange;
        margin: 2rem 1.5rem;

        &.orangeFill {
            background: $orange;
        }
    }
}