.pageHeaderContainer {
    height: 30rem;
    max-height: 480px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;

    @media (min-width: 2560px) {
        height: 40rem;
    }
}

.homeSlideContainer {
    padding-bottom: 3rem;
    position: relative;
}

.yooneekOutlineContainer { 
    position: absolute;
    left: -50%;
    right: -50%;
    top: 30%;
}
  
.yooneekOutline {
    margin: 0 auto;
    width: 30rem;

    // animate logo
    path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: animateOutline 3s linear forwards;
    }

    @media (max-width: 500px) {
        width: 23rem;
    }

    @media (max-width: 500px) {
        width: 20rem;
    }
}

.pageTitle {
    color: $white;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
}



@keyframes animateOutline {
    to {
        stroke-dashoffset: 0;
    }
}

@media (max-width: 660px) {
    .pageHeaderContainer {
        height: 25rem;
    }
}

@media (max-width: 380px) {
    #aboutSecondHeader {
        height: 28rem;
    }
}

.slick-dots {
    padding: 3rem !important;
}

.circle {
    border-radius: 100%;
    padding: 1rem;
    border: 2px solid $orange;
}

.slick-active {

    .circle {
        background: $orange;
    }
    
}

.slick-dots li {
    margin: -5rem 2rem -3.5rem 2rem !important;
}