.productGalleryContainer {
    flex-direction: column;
    color: $orange;
    padding: 2rem;
}

.productImagesList {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: wrap;
    margin: 2rem 0 2rem 0;
}

.productImageItem {
    margin: 1rem;
}

.productImage {
    border: 1px dotted $orange;
}