.blogPostContainer  {
    -webkit-box-align: center;
            align-items: center;
}

.blogPostHeaderContainer {
    width: 100%;
    padding: 2rem 0;

    .backToLink {
        color: $white;
    }

    .blogPostHeaderInfo {
        
        .latestNewsTitle {
            font-size: 2.5em;
            text-align: center;
        }
    }
}

.blogPostFeaturedImage {
    width: 40rem;
    height: 20rem;
    margin: 2rem 0;
    border: 1px dotted $orange;
}

.blogPostTextContainer {
    width: 60%;
    padding: 1rem 2.5rem;

    p {
        margin: 2rem 0;
        line-height: 2;
        font-size: 1.1em;
    }

    @media (max-width: 768px) {
        padding: 0;
        width: 80%;
    }
}