.blogPostContainer  {
    align-items: center;
    padding: 3rem 1.3rem;
}

.blogPostFeaturedImage {
    width: 40rem;
    margin: 2rem 0;
    border: 1px dotted $orange;
}

.blogPostInformation {
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0;

    .latestNewsTitle {
        font-size: 2em;
    }
}