.singleProductPageContent {
    flex-direction: column;
    margin-top: 5rem;
}

.backToLink {
    color: $orange;
    padding: 1.5rem;
    font-size: 1.05em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $font;
    align-self: flex-start;
}

.singleProductItemContainer {
    padding: 2.5rem 1.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    max-width: 1500px;
    flex-flow: wrap;
}

.singleProductImage {
    width: 20rem;
}

.singleProductImgContainer,
.singleProductInfoContainer {
    flex-basis: 50%;

    @media (max-width: 768px) {
        flex-basis: 80%;
    }

    @media (max-width: 530px) {
        flex-basis: 100%;
    }
}

.singleProductInfoContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: $dark-grey;

    .singleProductName {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 1.5em;

        @media (max-width: 768px) {
            text-align: center;
        }
    }
}

.productHr {

    @media (max-width: 768px) {
        width: 100%;
    }
}

.singleProductImgContainer {

    @media (max-width: 768px) {
        margin-bottom: 3rem;
        flex-direction: row;
    }

    @media (max-width: 445px) {
        flex-direction: column;
    }
}

.productImageDescription {
    max-width: 400px;
    line-height: 1.5;
    margin-top: 1rem;
}

.productPoints {
    list-style-type: disc;
    margin: 1rem;

    @media (max-width: 325px) {
        margin-left: 1.5rem;
    }
}

.sizeChart {
    width: 20rem;
    margin: 1rem 0;
}

.productCareIcons {
    align-items: center;
    flex-flow: wrap;
}

.productCareIcon {
    width: 3rem;
    margin: .55rem;
}

.buyNowContainer {
    justify-content: center;
    margin: 1rem 0;
}

.buyNow {
    width: auto;
    padding: .5rem 2rem;
    margin-top: 1rem;
}

.productReviewsContainer {
    width: 80%;
    margin: 3rem 0;
    color: $dark-grey;
}

.fullWidthHR {
    width: 100%;
}