.whiteBg {
    background: $white;
    color: $dark-grey;
}

.orangeBg {
    background: $orange;
    background-image: url("../assets/hexBg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $white;

    .textSectionTitle {
        color: $white;
    }
}

.whiteHexBg {
    background: $white;
    background-image: url("../assets/whiteHexBg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $dark-grey;
}

.textSectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem 2rem;
    position: relative;
}

.textSectionTitle {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9em;
    letter-spacing: 2px;
    text-align: center;
    font-family: $font;
    color: $orange;
}

.basicHR {
    width: 200px;
    background: $orange;
    height: 2px;
    border: 0;
    margin: 1.5rem 0;
}

.wiggleHR {
    width: 320px;
    margin: 2rem 0;
}

.textSectionMsg {
    font-family: $text-section-font;
    text-align: center;
    width: 50rem;
    line-height: 2;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 1.1em;
}

.blockquote {
    position: absolute;
    width: 103px;
}

.topLeftBQ {
    top: 20%;
    left: 20%;
    animation: slideLeft 1s ease-in-out;
}

.bottomRightBQ {
    bottom: 20%;
    right: 20%;
    animation: slideRight 1s ease-in-out;
}

.textSectionImg {
    width: 100%;
    // height: 20rem;
    margin: .5rem 0 2rem 0;
}

@keyframes slideLeft {
    0% {
        left: -40rem;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        right: -40rem;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 1060px) {
    .topLeftBQ {
        top: 10%;
        left: 10%;
    }
    .bottomRightBQ {
        bottom: 10%;
        right: 10%;
    }
}

@media (max-width: 768px) {
    .textSectionMsg {
        width: 25rem;
    }
}

@media (max-width: 450px) {
    .textSectionMsg {
        width: 100%;
        padding: 1 2rem;
    }
}

.quoteSliderMaster {

    .topLeftBQ {

        @media (max-width:  500px) {
            top: 7%;
        }
    }
}

.quoteSliderContainer {
    width: 50rem;
}

.quoteTitle {
    
    @media (max-width: 400px) {
        width: 40%;
    }
}

.quote {

    @media (max-width: 768px) {
        width: 70%;
        padding: 0 2.5rem;
    }

    @media (max-width: 500px) {
        width: 50%;
        padding: 0 1.5rem;
    }

    @media (max-width: 375px) {
        width: 40%;
        padding: 0;
    }
}

.textSectionEm {
    color: $em-red;
    font-weight: 900;
}

.yooneekSpan {
    color: $orange;
    font-weight: 900;
}